{% extends 'admin/layout.html.twig' %}

{% block title %}Edit Gallerie{% endblock %}

{% block body %}
    <h1>Edit Gallerie</h1>

    {{ include('gallerie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('gallerie_index') }}">back to list</a>

    {{ include('gallerie/_delete_form.html.twig') }}
{% endblock %}
