{% extends 'admin/layout.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
    <h1>Créer une nouvelle catégorie</h1>

    {{ include('categorie/_form.html.twig') }}

{% endblock %}
