<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Réservation chez le Café Gourmand</h1>
    {# <h3>Bonjour {{ donnees["nom"]  }} {{ donnees["prenom"]  }}</h3> #}
    <p>Nous vous informons que votre réservation chez le Café Gourmand a été bien enregistré, merci pour votre réservation , on vous attend avec impatience  </p>
   
    
</body>
</html>